/* Custom variables */
* {
  --uwcs_yellow: #FDD835;
  --uwcs_blue: #3D5AFE;
  --warwickgg_black: #222528;
  --warwickgg_dark_grey: #2D3338;
  --warwickgg_blue_shadow: #162160;
  --warwickgg_light_blue: #E4E8FF;
  --warwickgg_light_blue_shadow: #383A46;
  --uwcs_blue_dark: #364CCD;
  --uwcs_yellow_dark: #D5B00B;

  --button_blue: #3D5AFE;
  --button_blue_hover: #364CCD;
  --button_blue_active: #364CCD;
  --button_yellow: #FDD835;
  --button_yellow_hover: #D5B00B;
  --button_yellow_active: #D5B00B;
  --button_grey: #333A41;
  --button_grey_hover: #2D3338;
  --button_grey_active: #2D3338;
  --button_red: #DD0600;
  --button_red_hover: #B30500;
  --button_red_active: #B30500;

  --underline-grey: #383A46;

  --ticket-title: white;
  --ticket-body: #BEC0C1;
  --ticket-bg: #252b2f;
  --ticket-button-width: 4.9em;

  --sidebar-width: 24em;

  --discord-purple: #23232B;

  --dark-bg-filter: #00000080
}



/* General */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  color: white;
  background-color: var(--warwickgg_dark_grey);
	line-height: 1;
}

.text-centred {
  text-align: center;
}

.centred {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Muli", Helvetica, Roboto, Arial, sans-serif;
}

p {
  font-family: "Muli", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.4;
}

button {
  border-radius: 3px;
  border: none;

  font-family: "Montserrat", "Muli", Helvetica, Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
button:active {
  transform: translateY(1px);
}

.button-blue {
  color: white;
  background-color: var(--button_blue);
}
.button-blue:hover {
  background-color: var(--button_blue_hover);
}
.button-blue:active {
  background-color: var(--button_blue_active);
}

.button-yellow {
  color: black;
  background-color: var(--button_yellow);
}
.button-yellow:hover {
  background-color: var(--button_yellow_hover);
}
.button-yellow:hover {
  background-color: var(--button_yellow_active);
}

.button-grey {
  color: white;
  background-color: var(--button_grey);
}
.button-grey:hover {
  background-color: var(--button_grey_hover);
}
.button-grey:hover {
  background-color: var(--button_grey_active);
}

.button-red {
  color: white;
  background-color: var(--button_red);
}
.button-red:hover {
  background-color: var(--button_red_hover);
}
.button-red:hover {
  background-color: var(--button_red_active);
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
/* General END */



/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: clear;
}
::-webkit-scrollbar-thumb {
  background-color: var(--ticket-bg);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--warwickgg_black);
}

#vive-queue::-webkit-scrollbar-thumb {
  background-color: var(--warwickgg_dark_grey);
  border-radius: 20px;
}
#vive-queue::-webkit-scrollbar-thumb:hover {
  background-color: var(--warwickgg_black);
}
/* Scrollbar END */



/* Sidebar */
.sidebar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden;
  height: 100%;
  width: var(--sidebar-width);
  float: left;

  background-color: var(--warwickgg_black);
  /*border-right: solid 2px var(--warwickgg_black);*/
}

.title {
  margin-top: 4em;

  font-family: "Jaapokki Subtract", sans-serif;
  font-size: ;
  font-weight: 400;
  text-align: center;
}

.title img {
  width: 85%;
}

.sidebar-block {
  width: 80%;
  margin-top: 3em;
  margin-right: auto;
  margin-left: auto;
}

.sidebar-block h4 {
  width: 100%;

  font-size: 26px;

  padding-bottom: 7px;
  border-bottom: solid 1px var(--underline-grey);
  margin-bottom: 0.5em;
}

.sidebar-block button {
  position: relative;
  height: 3em;
  width: 19em;
  margin-bottom: 1em;
}

.sidebar-block button .fab {
  margin-left: 0.5em;
  opacity: 0.70;
}

.utilities {
  margin-top: 8em;
}

.search-bar {
  width: 50%;
  border: none;
  border-radius: 6px;
  padding: 0.6em 0.5em;

  color: white;
  background-color: var(--warwickgg_dark_grey);

  transition: width 0.5s;
}
::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
  color: white;
}
.search-bar:focus {
  width: 80%;
}
/* Sidebar END */



/* Game tickets */
.games {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: 0 0 0 var(--sidebar-width);
  padding: 2em 0 0 0;

  overflow-y: scroll;
}

.game-ticket {
  width: 53em;
  margin: 0 auto 1em auto;
  padding: 1em;
  border-radius: 5px;
  background-color: var(--ticket-bg);

  overflow-y: hidden;

  display: flex;

  transition: border-radius 0.2s;
}
.game-ticket:hover {
  border-radius: 1px;
}

.game-ticket img {
  height: 13em;
  width: 13em;
  display: block;
  border-radius: 10px;
}

.game-ticket-content h3 {
  font-size: 1.5em;
  font-weight: 600;
  width: 100%;

  color: var(--ticket-title);

  padding-bottom: 0.36em;
  /*border-bottom: 2px solid var(--warwickgg_black);*/
}

.game-ticket-content {
  display: flex;
  position: relative;
  margin: 0 0 0 1em;
  padding: 0 0 0 1em;

  flex-direction: column;

  font-size: 1.1em;
  font-family: "Ubuntu Mono", Consolas, "Liberation Mono", Courier, monospace;
}

.game-ticket-content p {
  flex-grow: 1;
  color: var(--ticket-body);
}

.game-ticket-footer {
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  bottom: 0;
}

.game-ticket-tags {
  margin: 0 0.2em 0 0;
  padding: 0;
  flex-wrap: wrap;
}
.game-ticket-tag {
  display: inline-block;
  margin-top: 0.4em;
  margin-right: 0.2em;
  padding: 0.4em 0.7em;
  border-radius: 25px;

  font-size: 14px;
  vertical-align: middle;
  text-align: center;

  color: var(--ticket-body);
  background-color: var(--warwickgg_light_blue_shadow);
}

.game-ticket-button-container {
  position: relative;
  min-width: var(--ticket-button-width);
}

.game-ticket-button-container button {
  position: absolute;
  bottom: 0;
  height: 3em;
  width: 100%;
}
/* Game tickets END */



/* Pop-ups */
.pop-up-background {
  position: absolute;
  display: none;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: var(--dark-bg-filter);
}

.pop-up-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 24em;
  padding: 1.25em 2em;

  border-radius: 18px;
  background-color: var(--warwickgg_black);
}

.pop-up-window h4 {
  margin-bottom: 0.32em;
  padding-bottom: 0.5em;
  border-bottom: solid 1px var(--underline-grey);

  font-size: 28px;
  text-align: center;
  color: var(--ticket-title);
}

.pop-up-window h5 {
  font-size: 22px;
  color: var(--ticket-title);
}

.pop-up-window-content {
  display: flex;
  margin-bottom: 2em;
}

.pop-up-window-content p {
  color: var(--ticket-body);
}

.pop-up-window-content img {
  margin: auto 1em auto 0;
  width: 5em;
  height: 5em;
}

.pop-up-window button {
  width: 80%;
  height: 3em;
  margin-bottom: 0.3em;
}

/* DISCORD */
#food-redirect {
  background-color: var(--discord-purple);
}

/* VIVE */
#vive-list {
  width: 36em;
}

#vive-list .pop-up-window-content {
  flex-direction: column;
}

.sign-up-container {
  display: flex;
  margin: 1.2em 0;
}

.sign-up-container input {
  width: 100%;
  margin: 0 1em;
  padding: 0 1em;

  font-size: 16px;
  color: var(--ticket-title);

  border-width: 0 0 1px 0;
  background-color: #00000000;

  transition: color 0.1s, margin 0.2s;
}
.sign-up-container input::-webkit-input-placeholder {
  color: var(--ticket-body);
}
.sign-up-container input:disabled {
  width: 100%;
  margin: 0 2em;

  color: var(--ticket-body);
}
.sign-up-container input.invalid {
  border-color: red;
  margin: 0 1.5em;
}
.sign-up-container input.invalid::-webkit-input-placeholder {
  color: red;
}

.sign-up-container button {
  width: 10em;
  margin: 0;
}

/* When the button reads "Leave Queue" */
.sign-up-container button.in-queue {
  width: 12em;
}

#vive-queue {
  width: 90%;
  height: 20em;
  margin: 1em auto 0 auto;
  padding: 0 1em;

  overflow-y: auto;

  border-radius: 8px;
  background-color: var(--ticket-bg);
}

.queue-ticket {
  margin: 1em auto;
  padding: 0.8em;
  width: 90%;

  font-family: "Montserrat", "Muli", Helvetica, Roboto, Arial, sans-serif;
  color: var(--ticket-body);

  border-radius: 6px;
  background-color: var(--warwickgg_dark_grey);
}

/* Pop-ups END */
