<div class="game-ticket">
  <img class="game-icon" src="assets/games/@file/image.jpg" alt="@name" draggable="false" />
  <div class="game-ticket-content">
    <h3>@name</h3>
    <p>@description</p>
    <div class="game-ticket-footer">
      <div class="game-ticket-tags">
        @tags
      </div>
      <div class="game-ticket-button-container">
        <button type="button" class="game-button uninstalled centred button-blue" value="@name">Install</button>
      </div>
    </div>
  </div>
</div>
