<!DOCTYPE HTML>
<!--
	Gaming Get - distributed

	IF YOU ARE AT FRIDAY NIGHT GAMING, QUIT MESSING WITH THE MACHINE AND PLAY SOME GAMES

	Built by Amelie [Surname] for the University of Warwick Computing Society
	Report bugs to @distributive law#5486 at discord.gg/uwcs or techteam@uwcs.co.uk.
-->
<html>
	<head>
	<title>Gaming Get - distributed</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- Favicons -->
		<link rel="icon" sizes="228x228" href="static/favicon-228.png">
		<link rel="icon" sizes="128x128" href="static/favicon-128.png">
		<link rel="icon" sizes="96x96" href="static/favicon-96.png">
		<link rel="icon" sizes="32x32" href="static/favicon-32.png">
		<link rel="shortcut icon" sizes="196x196" href="static/favicon-196.png">

		<!-- FontAwesome -->
		<script src="https://kit.fontawesome.com/13a6fc8427.js"></script>

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

		<!-- Local scripts -->
		<script type="text/javascript" src="static/js/search.js"></script>
		<script type="text/javascript" src="static/js/sidebar.js"></script>
		<script type="text/javascript" src="static/js/games.js"></script>
		<script type="text/javascript" src="static/js/vive.js"></script>
	</head>

  <body>
		<main class="disable-select">
			<div class="sidebar">
				<div class="title centred">
					<!--<h1 class="title">Gaming Get</h1>
					<h2 class="subtitle">distributed</h2>-->
					<img src="static/img/logo.png" draggable="false" />
				</div>

				<div class="search-bar-container sidebar-block">
					<!--<h4 class="centred">Search</h4>-->
  				<input type="text" placeholder="Search..." class="search-bar centred" id="search-bar">
				</div>

				<div class="utilities sidebar-block">
					<h4 class="centred">Utilities</h4>
					<button type="button" class="centred button-blue" id="button-steam">Steam<i class="fab fa-steam"></i></button>
					<button type="button" class="centred button-blue" id="button-chrome">New Chrome window<i class="fab fa-chrome"></i></button>
					<button type="button" class="centred button-grey" id="button-volume">Volume settings</button>
					<button type="button" class="centred button-grey" id="button-mouse">Mouse settings</button>
					<button type="button" class="centred button-grey" id="button-resolution">Fix resolution</button>
				</div>

				<div class="links sidebar-block">
					<h4 class="centred">Links</h4>
					<button type="button" class="centred button-grey" id="button-food">Food orders</button>
				</div>

				<div class="shortcuts sidebar-block">
					<h4 class="centred">Shortcuts</h4>
					<p>
						Click tags to filter games. <br>
						Hold ctrl to add new tags to the search list. <br>
						Hold shift to clear the search list.
					</p>
				</div>
			</div>

			<div class="games" id="games-list">
				@games
			</div>
    </main>

		<div class="pop-up-background close-pop-up disable-select">
			<div class="pop-up-window" id="food-redirect">
				<h4>Join our Discord</h4>
				<div class="pop-up-window-content">
					<img src="https://cdn.discordapp.com/icons/189453139584221185/a_d8c9f421b8c23b26788904063b79fe25.gif?size=256" draggable="false" />
					<p>Our Discord server has a channel for organising food orders with others at events. Just look for #food-orders under the Gaming category in the channel list and ask away!</p>
				</div>
				<button type="button" class="centred button-blue" id="button-discord">Join</button>
			</div>
		</div>
  </body>
</html>