<!DOCTYPE HTML>
<!--
	Gaming Get

	IF YOU ARE AT FRIDAY NIGHT GAMING, QUIT MESSING WITH THE MACHINE AND PLAY SOME GAMES

	Built by Amelie [Surname] for the University of Warwick Computing Society
	Report bugs to @distributive law#5486 at discord.gg/uwcs or techteam@uwcs.co.uk.
-->
<html>
	<head>
	<title>Gaming Get</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- Favicons -->
		<link rel="icon" sizes="228x228" href="favicon-228.png">
		<link rel="icon" sizes="128x128" href="favicon-128.png">
		<link rel="icon" sizes="96x96" href="favicon-96.png">
		<link rel="icon" sizes="32x32" href="favicon-32.png">
		<link rel="shortcut icon" sizes="196x196" href="favicon-196.png">

		<!-- FontAwesome -->
		<script src="https://kit.fontawesome.com/13a6fc8427.js"></script>

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

		<!-- Local scripts -->
		<script type="text/javascript" src="js/search.js"></script>
		<script type="text/javascript" src="js/sidebar.js"></script>
		<script type="text/javascript" src="js/games.js"></script>
		<script type="text/javascript" src="js/vive.js"></script>
	</head>

  <body>
		<main>
			<div class="sidebar">
				<div class="title centred">
					<img src="img/logo.png" draggable="false" />
				</div>

				<div class="search-bar-container sidebar-block">
					<input type="text" placeholder="Search..." class="search-bar centred" id="search-bar">
				</div>

				<div class="utilities sidebar-block">
					<h4>Utilities</h4>
					<button type="button" class="centred button-blue" id="button-steam">Steam<i class="fab fa-steam"></i></button>
					<a href="https://google.co.uk" target="_blank" class="button centred button-blue" id="button-chrome">New Chrome window<i class="fab fa-chrome"></i></a>
					<button type="button" class="centred button-grey" id="button-volume">Volume settings</button>
					<button type="button" class="centred button-grey" id="button-mouse">Mouse settings</button>
					<button type="button" class="centred button-grey" id="button-resolution">Fix resolution</button>
				</div>

				<div class="links sidebar-block">
					<h4>Links</h4>
					<button type="button" class="centred button-grey" id="button-food">Food orders</button>
					<a class="button centred button-grey" id="button-discord" href="https://discord.gg/uwcs" target="_blank">Discord</a>
				</div>

				<div class="shortcuts sidebar-block">
					<h4>Shortcuts</h4>
					<p>
						Click tags to filter games. <br>
						Hold ctrl to add new tags to the search list. <br>
						Hold shift to clear the search list.
					</p>
				</div>

				<div class="dev-credit sidebar-block">
					<p class="text-centred">
						Originally developed by <a href="https://github.com/distributive">distributive law</a> and maintained by members of the <a href="https://github.com/UWCS/Gaming-get-distributed/graphs/contributors">Uni of Warwick Computing Society</a>.
					</p>
				</div>
			</div>

			<div class="games" id="games-list">
				@games
			</div>
    </main>

	<div class="pop-up-background close-pop-up disable-select">
		<div class="pop-up-window" id="food-redirect">
			<h4>Join our Discord</h4>
			<div class="pop-up-window-content">
				<img src="https://cdn.discordapp.com/icons/189453139584221185/a_d8c9f421b8c23b26788904063b79fe25.gif?size=256" draggable="false" />
				<p>Our Discord server has a channel for organising food orders with others at events. Just look for #food-orders under the Gaming category in the channel list and ask away!</p>
			</div>
			<a class="button centred button-blue" id="button-discord" href="https://discord.gg/uwcs" target="_blank">Join</a>
		</div>
	</div>
  </body>
</html>
